*{
    margin: 0;
}
body{
    font-family: sans-serif;
}
.main-container{
    width: 600px;
    margin:0 auto;
    padding:8px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table; 
}